.lang-list__link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-decoration-line: none;
  color: #FFFFFF;
  justify-self: end;
}

.lang-list__link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .lang-list__link {
    font-size: 18px;
    line-height: 1.11;
  }
}
